@use '@/styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  padding: 4rpx 16rpx;
  border-radius: $radius-round;
  white-space: nowrap;
}

.tagMd {
  padding: 8rpx 20rpx;
}

.dot {
  width: 12rpx;
  height: 12rpx;
  border-radius: 50%;
  margin-right: 8rpx;
}

.text {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: 1.4;
}
